.themeSwitcher {
    position: relative;
    width: 40px;
    height: 20px;
    background: linear-gradient(180deg, $violet 0%, #dcdcdc 100%);
    box-shadow: inset 1px 1px 2px 0 rgba($black, 0.1);
    border-radius: 10px;

    .circle {
        position: absolute;
        left: 1px;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        width: 18px;
        height: 18px;
        background: linear-gradient(180deg, $white 0%, $white-1 100%);
        box-shadow:
            1px 2px 4px 0 rgba($black, 0.1),
            0 2px 2px 0 rgba($black, 0.1),
            1px 1px 2px 0 rgba($black, 0.1);
        border-radius: 50%;
    }
}
