.userBarWrapper {
    @include media-rules(tablet) {
        position: relative;
    }
}

.userBar {
    @include media-rules(tablet) {
        display: flex;
        align-items: center;
        gap: 3px;
        background-color: $violet;
        border-radius: 36px;
        cursor: pointer;
        padding: 4px 12px;
    }
    .wrapper {
        display: flex;
        align-items: center;
        gap: 9px;
    }

    .imageWrapper {
        width: 37px;
        height: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $white-1;
        border-radius: 50%;
        overflow: hidden;
    }

    .avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .userIcon {
        width: 19px;
        height: 19px;
        fill: $violet;
    }

    .name {
        font-weight: 700;
        font-size: 22px;
        letter-spacing: -0.02em;
        color: $white;
    }

    .arrowIcon {
        display: none;

        @include media-rules(tablet) {
            display: block;
            width: 23px;
            height: 26px;
            fill: $white;
        }
    }
}
