.bodyOpen {
    overflow: hidden;
}

:globa(.ReactModal__Body--open) {
    overflow: hidden;
}

.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 100;
    background-color: $violet;
    background-color: rgba($black, 0.4);
    opacity: 0;
    @include transition(opacity);
}

:global(.ReactModal__Overlay--after-open) {
    opacity: 1;
}

:global(.ReactModal__Overlay--before-close) {
    opacity: 0;
}

.modal {
    max-width: 335px;
    margin: 0 auto;
    position: absolute;
    left: 20px;
    right: 20px;
    font-family: $font-family;
    border: 1px solid $black;
    background: $white;
    overflow: auto;
    border-radius: 18px;
    outline: none;
    padding: 0;

    @include media-rules(tablet) {
        max-width: 579px;
    }
}

.closeButton {
    position: absolute;
    top: 14px;
    right: 14px;

    @include media-rules(tablet) {
        top: 24px;
        right: 24px;
    }
}

.closeIcon {
    width: 20px;
    height: 20px;
    fill: transparent;
    stroke: $black;

    @include media-rules(tablet) {
        width: 28px;
        height: 28px;
    }
}
