<section class="bookshelf">
    <h1 class="title">Best Sellers <span class="title__color">Books</span></h1>
    <ul class="bookshelf__wrapper">
        <li class="bookshelf__wrapper-item">
            <p class="bookshelf__category">Combined  Print and E-Book Fiction</p>
            <ul class="bookshelf__list">
                <li class="bookshelf__list-item">
                    <a class="bookshelf__list-link" href="#">
                        <img class="bookshelf__list-img" src="./images/book-1.jpg" alt="book">
                        <div class="bookshelf__list-info">
                            <h3 class="bookshelf__list-title">I will find you</h3>
                            <p class="bookshelf__list-author">Harlan Coben</p>
                        </div>
                    </a>
                </li>
                <li class="bookshelf__list-item">
                    <a class="bookshelf__list-link" href="#">
                        <img class="bookshelf__list-img" src="./images/book-1.jpg" alt="book">
                        <div class="bookshelf__list-info">
                            <h3 class="bookshelf__list-title">I will find you</h3>
                            <p class="bookshelf__list-author">Harlan Coben</p>
                        </div>
                    </a>
                </li>
                <li class="bookshelf__list-item">
                    <a class="bookshelf__list-link" href="#">
                        <img class="bookshelf__list-img" src="./images/book-1.jpg" alt="book">
                        <div class="bookshelf__list-info">
                            <h3 class="bookshelf__list-title">I will find you</h3>
                            <p class="bookshelf__list-author">Harlan Coben</p>
                        </div>
                    </a>
                </li>
                <li class="bookshelf__list-item">
                    <a class="bookshelf__list-link" href="#">
                        <img class="bookshelf__list-img" src="./images/book-1.jpg" alt="book">
                        <div class="bookshelf__list-info">
                            <h3 class="bookshelf__list-title">I will find you</h3>
                            <p class="bookshelf__list-author">Harlan Coben</p>
                        </div>
                    </a>
                </li>
            </ul>
            <button class="btn bookshelf__more" type="button">see more</button>
        </li>
        <li class="bookshelf__wrapper-item">
            <p class="bookshelf__category">Combined  Print and E-Book Fiction</p>
            <ul class="bookshelf__list">
                <li class="bookshelf__list-item">
                    <a class="bookshelf__list-link" href="#">
                        <img class="bookshelf__list-img" src="./images/book-1.jpg" alt="book">
                        <div class="bookshelf__list-info">
                            <h3 class="bookshelf__list-title">I will find you</h3>
                            <p class="bookshelf__list-author">Harlan Coben</p>
                        </div>
                    </a>
                </li>
                <li class="bookshelf__list-item">
                    <a class="bookshelf__list-link" href="#">
                        <img class="bookshelf__list-img" src="./images/book-1.jpg" alt="book">
                        <div class="bookshelf__list-info">
                            <h3 class="bookshelf__list-title">I will find you</h3>
                            <p class="bookshelf__list-author">Harlan Coben</p>
                        </div>
                    </a>
                </li>
            </ul>
            <button class="btn bookshelf__more" type="button">see more</button>
        </li>
    </ul>

</section>