<ul class="categories">
    <li class="categories__item">
        <button class="categories__button active">All categories</button>
    </li>
    <li class="categories__item">
        <button class="categories__button">
            Combined Print and E-book Fiction
        </button>
    </li>
    <li class="categories__item">
        <button class="categories__button">
            Combined Print & E-book Nonfiction
        </button>
    </li>
    <li class="categories__item">
        <button class="categories__button">Hardcover fiction</button>
    </li>
    <li class="categories__item">
        <button class="categories__button">
            Hardcover nonfiction
        </button>
    </li>
    <li class="categories__item">
        <button class="categories__button">
            Paperback trade fiction
        </button>
    </li>
    <li class="categories__item">
        <button class="categories__button">
            Combined Print and E-book Fiction
        </button>
    </li>
    <li class="categories__item">
        <button class="categories__button">
            Combined Print and E-book Fiction
        </button>
    </li>
    <li class="categories__item">
        <button class="categories__button">
            Combined Print and E-book Fiction
        </button>
    </li>
    
</ul>