<div class="fonds">
    <div class="fonds__head">
        <h2 class="fonds__head-title">Support Ukraine</h2>
        <svg class="fonds__head-icon">
            <use href="#icon-herb"></use>
        </svg>
    </div>
    <ul class="fonds__list">
        <li class="fonds__list-item">
            <a class="fonds__list-link" href="#">
                <span class="fonds__list-number">01</span>
                <img
                    class="fonds__list-image"
                    src="./images/fonds/fond-1.png"
                    alt="text"
                    srcset="
                        ./images/fonds/fond-1.png    1x,
                        ./images/fonds/fond-1@2x.png 2x
                    "
                />
            </a>
        </li>
        <li class="fonds__list-item">
            <a class="fonds__list-link" href="#">
                <span class="fonds__list-number">02</span>
                <img
                    class="fonds__list-image"
                    src="./images/fonds/fond-2.png"
                    alt="text"
                    srcset="
                        ./images/fonds/fond-2.png    1x,
                        ./images/fonds/fond-2@2x.png 2x
                    "
                />
            </a>
        </li>
        <li class="fonds__list-item">
            <a class="fonds__list-link" href="#">
                <span class="fonds__list-number">03</span>
                <img
                    class="fonds__list-image"
                    src="./images/fonds/fond-3.png"
                    alt="text"
                    srcset="
                        ./images/fonds/fond-3.png    1x,
                        ./images/fonds/fond-3@2x.png 2x
                    "
                />
            </a>
        </li>
        <li class="fonds__list-item">
            <a class="fonds__list-link" href="#">
                <span class="fonds__list-number">04</span>
                <img
                    class="fonds__list-image"
                    src="./images/fonds/fond-4.png"
                    alt="text"
                    srcset="
                        ./images/fonds/fond-4.png    1x,
                        ./images/fonds/fond-4@2x.png 2x
                    "
                />
            </a>
        </li>
        <li class="fonds__list-item">
            <a class="fonds__list-link" href="#">
                <span class="fonds__list-number">05</span>
                <img
                    class="fonds__list-image"
                    src="./images/fonds/fond-5.png"
                    alt="text"
                    srcset="
                        ./images/fonds/fond-5.png    1x,
                        ./images/fonds/fond-5@2x.png 2x
                    "
                />
            </a>
        </li>
        <li class="fonds__list-item">
            <a class="fonds__list-link" href="#">
                <span class="fonds__list-number">06</span>
                <img
                    class="fonds__list-image"
                    src="./images/fonds/fond-6.png"
                    alt="text"
                    srcset="
                        ./images/fonds/fond-6.png    1x,
                        ./images/fonds/fond-6@2x.png 2x
                    "
                />
            </a>
        </li>
    </ul>
    <button class="fonds__button">
        <svg class="fonds__button-icon">
            <use href="#icon-fonds-arrow"></use>
        </svg>
    </button>
</div>
