<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__left">
                <a class="header__logo" href="./">
                    <svg class="header__logo-icon">
                        <use href="#icon-logo"></use>
                    </svg>
                    <svg class="header__logo-title">
                        <use href="#icon-bookshelf"></use>
                    </svg>
                </a>
            </div>
            <div class="header__right">
                <button class="header__switcher" type="button">
                    <span class="header__switcher-circle"></span>
                </button>
                <button class="header__burger">
                    <svg class="header__burger-icon">
                        <use href="#icon-burger"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>

<div class="mobile">
    <div class="container">
        <button class="mobile__sign">
            Sign up
            <svg class="mobile__sign-icon">
                <use href="#icon-profile-arrow"></use>
            </svg>
        </button>
        <ul class="mobile__menu">
            <li class="mobile__menu-item active">
                <a class="mobile__menu-link" href="./">Home</a>
            </li>
            <li class="mobile__menu-item">
                <a class="mobile__menu-link" href="./">
                    Shopping list
                    <svg class="mobile__menu-link-icon">
                        <use href="#icon-cart"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <button class="mobile__logout">
            Log out
            <svg class="mobile__sign-icon">
                <use href="#icon-profile-arrow"></use>
            </svg>
        </button>
    </div>
</div>
