<section class="cart">
    <h1 class="title">Shopping <span class="title__color">List</span></h1>
    <ul class="cart__list">
        <li class="cart__item">
            <button class="cart__button">
                <svg class="cart__button-icon">
                    <use href="#icon-trash"></use>
                </svg>
            </button>
            <img class="cart__item-img" src="./images/shopping-cart-book-1.jpg" alt="title" />
            <div class="cart__info">
                <div class="cart__info-top">
                    <h2 class="cart__info-title">I will find you</h2>
                    <p class="cart__info-category">Hardcover fiction</p>
                    <p class="cart__info-descr">
                        David Burroughs was once a devoted father to his
                        three-year-old son Matthew, living a...
                    </p>
                </div>
                <div class="cart__info-bottom">
                    <p class="cart__info-author">Harlan Coben</p>
                    <a class="cart__info-link" href="#">
                        <img
                            class="cart__info-link-amazon"
                            src="./images/amazon.png"
                            alt="Amazon"
                            srcset="
                                ./images/amazon.png    1x,
                                ./images/amazon@2x.png 2x
                            "
                        />
                        <img
                            class="cart__info-link-amazon-icon"
                            src="./images/amazon-icon.png"
                            alt="Amazon"
                            srcset="
                                ./images/amazon-icon.png    1x,
                                ./images/amazon-icon@2x.png 2x
                            "
                        />
                    </a>
                </div>
            </div>
        </li>
        <li class="cart__item">
            <button class="cart__button">
                <svg class="cart__button-icon">
                    <use href="#icon-trash"></use>
                </svg>
            </button>
            <img class="cart__item-img" src="./images/shopping-cart-book-1.jpg" alt="title" />
            <div class="cart__info">
                <div class="cart__info-top">
                    <h2 class="cart__info-title">I will find you</h2>
                    <p class="cart__info-category">Hardcover fiction</p>
                    <p class="cart__info-descr">
                        David Burroughs was once a devoted father to his
                        three-year-old son Matthew, living a...
                    </p>
                </div>
                <div class="cart__info-bottom">
                    <p class="cart__info-author">Harlan Coben</p>
                    <a class="cart__info-link" href="#">
                        <img
                            class="cart__info-link-amazon"
                            src="./images/amazon.png"
                            alt="Amazon"
                            srcset="
                                ./images/amazon.png    1x,
                                ./images/amazon@2x.png 2x
                            "
                        />
                        <img
                            class="cart__info-link-amazon-icon"
                            src="./images/amazon-icon.png"
                            alt="Amazon"
                            srcset="
                                ./images/amazon-icon.png    1x,
                                ./images/amazon-icon@2x.png 2x
                            "
                        />
                    </a>
                </div>
            </div>
        </li>
    </ul>
</section>
