.booksListItem {
    .title {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #b4afaf;
        margin-bottom: 18px;

        @include media-rules(tablet) {
            line-height: 1.71;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 8px;

        @include media-rules(tablet) {
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 40px;
            column-gap: 25px;
            margin-bottom: 20px;
        }

        @include media-rules(desktop) {
            column-gap: 24px;
            margin-bottom: 32px;
        }
    }

    .seeMoreButtonWrapper {
        text-align: right;
    }

    .seeMoreButton {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        border: 2px solid $violet;
        border-radius: 40px;
        @include transition(background-color, color);
        padding: 14px 28px;

        &:is(:hover, :focus) {
            background-color: $violet;
            color: $white;
        }
    }
}
