@use 'reset';

body {
    overflow-x: hidden;

    .react-loading-skeleton {
        height: 100%;
    }
}

.app {
    min-height: 100vh;
    font-family: $font-family;

    &.light {
        background-color: $white-1;
        color: $black;
    }

    &.dark {
        background-color: $black-1;
        color: $white;
    }
}
